/* .quadradao {
    border-radius: 10px;
    border: 1px black solid;
    margin: 20%;
    height: 100%;
    text-align: center;

    
  } */

  body {
    background-color: rgb(74, 105, 146);
  }

  header{
    color: white;
    text-align: center;
  }

  section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 0px 0px 4.2px rgba(0, 0, 0, 0.034),
      0px 0px 10.6px rgba(0, 0, 0, 0.049), 0px 0px 21.6px rgba(0, 0, 0, 0.061),
      0px 0px 44.5px rgba(0, 0, 0, 0.076), 0px 0px 122px rgba(0, 0, 0, 0.11);
  }

  div{
    text-align: center;
  }

  #msg{
    margin-bottom: 20px;
  }

  footer{
text-align: center;
color: white;
font-style: italic;
  }

  #idfoto{
    width: 300px;
    height: 300px;
  }